<div class="footer">
  <div class="container">
    <p class="follow">
      You can follow
      <span style="display: block">us</span>
    </p>
    <div class="social-icons">
      <a href=""> <i class="pi pi-facebook"></i></a>
      <a href=""><i class="pi pi-twitter"></i></a>
      <a href=""><i class="pi pi-whatsapp"></i></a>
      <a href=""><i class="pi pi-linkedin"></i></a>
    </div>
    <p class="copyright">
      &copy; 2025 <span>E-commerce </span> All Right Reserved
    </p>
  </div>
</div>
