.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* Start Media Query */
/* Small Screen */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
/* large Screen */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}
 /* Start Footer  */
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image:
  linear-gradient(to right , rgb(0 0 0 / 40%), rgba(0 0 0 / 40%)),

  // url("/E-commerce/assets/subscribe.jpg");
  // url("/assets/footer-follow.jpg");
  url("/assets/footer-f.jpg");
  background-size: auto;
  text-align: center;
  color: white;
  // min-width: 150%;
}
.footer p:not(.copyright) {
  text-transform: capitalize;
  margin: 40px auto 20px;
  font-size: 4em;
  font-weight: bold;
  padding: 15px;
  width: fit-content;
  position: relative;
  border-bottom: 1px solid white;
}
.footer .social-icons  {
  padding-top: 15px;
}
.footer .social-icons i {
  padding: 30px 25px;
  font-size: 1.5em;
  cursor: pointer;
}
.footer .social-icons a {
  text-decoration: none;
  color: white;
}
.footer .copyright  {
  margin-top: 40px;
  font-size: 1.1em;
  line-height: 1.6;
}
.footer .copyright span {
  color: #ff491f;
  font-weight: bold;
  font-size: 1.3em;
}

@media (max-width: 992px) {
  .footer p:not(.copyright) {
    font-size: 3em;
    // background-color: blue;
  }
  .footer .social-icons i {
    font-size: 1.3em;
    cursor: pointer;
  }
  .footer .copyright  {
    font-size: 1.1em;
  }
  .footer .copyright span {
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  .footer p:not(.copyright) {
    font-size: 3em;
    padding-top: 30px;
    // background-color: red;
  }
  .footer .social-icons i {
    font-size: 1.3em;
    cursor: pointer;
  }
  .footer .copyright  {
    font-size: 1em;
  }
  .footer .copyright span {
    font-size: 1.1em;
  }
}
.footer a i:hover{
  font-size: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
}
.footer i.pi-facebook:hover{
  color: #0866ff;
}
.footer .pi-twitter:hover{
  color: white;
}
.footer .pi-whatsapp:hover{
  color: #25d366;
}
.footer .pi-linkedin:hover{
  color: #0073b0;
}
/* End Footer  */
