.copyright-area {
  font-size: 16px;
  padding: 5px;
  color: white;
  background-color: black;
}
.copyright-area span{
  font-size: 18px;
  font-weight: bold;
  color: rgb(224, 114, 24);
}
