<!DOCTYPE html>
<section>
  <div class="container my-8">
    <h1 class="my-3 font-bold capitalize text-orange-500">login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <!-- Email -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            formControlName="email"
            placeholder="Email"
            [autofocus]="true"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if(email && email.touched){ @if(email.getError('required')){
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'Error',
                detail: '`Email is required`'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if(email.getError('email')){
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'Error',
                detail: '`Email not valid`'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } }
        </div>
      </div>
      <!-- Password  -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if(password && password.touched){ @if(password.getError('required')){
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'Error',
                detail: '`Password is required`'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if(password.getError('minlength')){
          <p-messages
            class="mx-0"
            [value]="[
              {
                severity: 'error',
                summary: 'Error',
                detail: '`must be at lest 3 char`'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if(password.getError('maxlength')){
          <p-messages
            p-message-close
            [value]="[
              {
                severity: 'error',
                summary: 'Error',
                detail: '`Cannot exceed 20 char`'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } }
        </div>
      </div>
      <!-- Button Submit -->
      <!-- <p-button type="submit" label="login" /> -->
      <p-button type="submit" label="login" [disabled]="loginForm.invalid" />
    </form>
  </div>
</section>
