<div class="flex justify-content-between align-items-center flex-wrap">
  <!-- product_1 -->
  <!-- Array Of Cards -->
  @for (item of [0,0,0,0]; track $index) {
  <!--Change type class style  -->
  <div
    [ngClass]="{
      'col-6': isSmallCard,
      'col-12 md:col-3 lg:col-2': !isSmallCard
    }"
    class="col-6"
  >
    <div
      [ngClass]="{
        'flex flex-wrap lg:flex-nowrap justify-content-center gap-2':
          isSmallCard,

      }"
    >
      <figure
        [ngClass]="{
          'md:w-6rem lg:w-12rem': isSmallCard,

        }"
        class="m-1 shadow-2 border-round-2xl overflow-hidden"
      >
        <img
          class="w-full h-full"
          src="https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1692255692675-ant sport.jpg"
          alt=""
        />
      </figure>
      <!-- content -->
      <div class="content py-1">
        <!-- paragraph -->
        <p class="truncate-text overflow-hidden font-medium text-xs my-1">
          Ant Esports GP310 Wireless Gamepad, Compatible for PC & Laptop
          (Windows 10/8 /7, Steam) / PS3 / Android
        </p>
        <div class="flex align-items-center gap-2">
          <!-- price -->
          <div class="price flex gap-2 align-items-center">
            <span class="text-color-secondary font-bold">
              <del>14</del>
            </span>
            <span class="new-price font-bold">
              <span class="text-green-400">$</span>14
            </span>
          </div>
          <!-- offer -->
          <div class="offer">
            <span class="bg-red-500 p-1 border-circle text-white text-xs"
              >%3</span
            >
            <span class="font-bold text-xs px-1">off</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
