<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <figure class="my-0 mx-2">
        <img class="w-2rem" src="./assets/logo.svg" alt="logo" />
      </figure>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a
        [routerLink]="item?.['path']"
        pRipple
        class="flex align-items-center p-menuitem-link"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center align-items-center gap-4">
        <a>
          <i
            class="pi pi-shopping-cart text-3xl"
            pBadge
            [value]="cartCount"
          ></i>
        </a>
        <a
          (click)="logOut = !logOut"
          class="user-name p-2 text-white bg-orange-500 font-bold capitalize relative cursor-pointer"
        >
          <span>{{ userName }}</span>
          @if(logOut){
          <a
            (click)="logout()"
            class="logout text-white font-bold absolute flex align-items-center gap-3 cursor-pointer"
          >
            <span>logout</span>
            <i class="pi pi-sign-out"></i>
          </a>
          }
        </a>
      </div>
    </ng-template>
  </p-menubar>
</div>
